@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;

.header {
    //background-color: $primary-color;
    position:fixed;
    z-index: 3;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;

    svg {
        padding: 10px;
        path {
            fill: $primary-color;
        }
    }

    &__logo {
        height: 70px;
        margin-left: 5px
    }
    &__bars {
        height: 60px;
        margin-right: 5px;
    }
    
}

